

#about {
  background: url(../img/head.jpg) no-repeat 0 -100px;
  height: 600px;
  padding: 80px;

  h1 {
    font-size: 60px;
  }
  .container{
    background: #ffffff;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
  }
}

.section-a {
  text-align: center;
  padding: 30px 0;
  color: white;

  .fa {
    font-size: 60px;
    margin-bottom: 20px;
  }
}

.portfolio{


  .card{
    width: 270px;
    height: auto;
  }
}

// Variable Overrides
$theme-colors: (
  "primary": #62a0c4
);

$body-bg: #ededed;

.jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219);
}

.footer {
  padding: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}
// Bootstrap and its default variables
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import "node_modules/bootstrap/scss/bootstrap";
@import "custom";
